footer {
  border-top: 1px solid #efefef;
  margin-top: 5em;
}

.header {
  border-bottom: 1px solid #efefef;
}

.info {
  font-size: 1.5em;
  color: gray;
}

#page-title {
  font-size: 3em;
  margin-bottom: 0em;
}

#community {
  margin-top: 1em;
  padding: 1em;
  font-size: 1.3em;
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
}

#contributing {
  font-size: 1.3em;
}

.btn {
  margin-top: 1em;
}

h2 {
  font-size: 2.3em;
}

h3 {
  font-size: 1.7em;
}
